.App {
  text-align: center;
}

.cards {
  width: 95%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 150px;
  height: 250px;
  border: 1px solid black;
  border-radius: 7px;
}

img {
  width: 80%;
  object-fit: contain;
}
